# Usuário proprietário do banco do SmartView
SV_USER=totvs

# Senha do usuário do banco do SmartView
SV_PASS=totvs

# Nome do banco de dados/schema exclusivo para os metadados do SmartView
SV_DBNAME=smartview_dev