# --- ENVIRONMENT VARIABLES ---
.env.protheus
.env.mssql
.env.oracle
.env.postgres
.env.smartview

# --- TOTVS BINARIES & REPOSITORIES (TRAVA DE GOVERNANÇA) ---
*.rpo
*.zip
*.ptm
*.ZIP
*.RPO

# --- LOGS & LOCAL RUNTIME ARTIFACTS ---
*.log
*.DTC
*.dtc
*.db