# --- ENVIRONMENT VARIABLES ---
.env.protheus
.env.mssql
.env.oracle
.env.postgres

# --- TOTVS BINARIES & REPOSITORIES (TRAVA DE GOVERNANÇA) ---
*.rpo
*.zip

# --- LOGS & LOCAL RUNTIME ARTIFACTS ---
*.log
*.DTC
*.dtc
*.db